<html>
    <head>
        <title>CalculatorApp</title>
        <script src="http://code.jquery.com/jquery-1.12.4.js"integrity="sha256Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body>
        <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
        <script>
          var config = {
            apiKey: "AIzaSyDLiK676rymmTEPl1u2noxMBYtnThYINM8",
            authDomain: "calculator-5349b.firebaseapp.com",
            databaseURL: "https://calculator-5349b.firebaseio.com",
            projectId: "calculator-5349b",
            storageBucket: "calculator-5349b.appspot.com",
            messagingSenderId: "864778627500"
          };
          firebase.initializeApp(config);
        </script>